body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container {
    background-color: white;
    width: 180px;
    height: 530px;
    margin-top: 150px;
}
.box {
    background-color: red;
    width: 100px;
    height: 100px;
    border: 15px solid darkred;
    padding: 20px;
    margin: auto;
    margin-top: 5px;
    position: relative;
}
.boxTwo {
    background-color: rgb(255, 251, 0);
    width: 100px;
    height: 100px;
    border: 15px solid rgb(165, 138, 19);
    padding: 20px;
    margin: auto;
    margin-top: 5px;
    position: relative;
}
.boxThree {
    background-color: rgb(23, 155, 45);
    width: 100px;
    height: 100px;
    border: 15px solid rgb(20, 90, 35);
    padding: 20px;
    margin: auto;
    margin-top: 5px;
    position: relative;
}
.inner-box {
    background-color: rgba(255, 255, 255, 0.589);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
}
.inner-boxTwo {
    background-color: rgba(255, 255, 255, 0.699);
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}
.inner-boxThree {
    background-color: rgba(255, 255, 255, 0.411);
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
}